.img-thumbnail {
  margin: 25px;
  width: 85%;
  height: 8%;
}

.card-body {
  padding: 0 25px;
}


.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;

}

.tabs-panel {
  border: 1px solid #640764;
  margin: 2px;
}
